* {
    box-sizing: border-box;
}
:root{
    --white:rgb(223, 223, 223);
    --claro:rgb(187, 187, 187);
    --oscuro: rgb(1f, 1f, 1f);
    --gris:rgb(77, 77, 77);
    --morado: rgb(22, 22, 32);
}

body {
    background: url("../img/stars_tile.gif");
    background-color: rgb(1f, 1f, 1f);
    background-repeat: repeat;
    margin: 0;
    padding-top: 10px;
    height: 100%;
}

@font-face {
    font-family: "pixel";
    src: url(../font/ambitsek.ttf);
}

@media(min-width:320px) {
    header {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        height: 178px;/*necesario porque con la animación de los botónes inferiores se subía el header*/
    }   /*si existe un atributo asignado en min-width(x) no definido en otros casos se utiliza ese*/

    main {
        width: 90%;
        height: 695px;
    }

    nav {
        flex-wrap: wrap;

    }

    a#boton {
        display: block;
        margin: 5px;
    }

}

@media(min-width:723px) {
    main {
        width: 50%;
        min-width: 650px;
        height: 735px;
    }

    header {
        width: 50%;
        min-width: 650px;
        height: auto;
    }

    a#boton {
        margin-left: 5px;
        margin-right: 5px;
    }

}

html {
    color-scheme: dark;
    height: 100%;
    width: 100%;
    font-family: "pixel";
    font-weight: 600;
    font-size: 14px;
    color: var(--claro);
}

/*header*/
header {
    padding-top: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--morado);
}

h1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
    color: var(--white);
}

nav {
    display: flex;
    justify-content: center;
}

#boton:hover {
    background-color: rgb(37, 37, 3d);
    margin-top: -1px;
    transition: 0.2s;

}

a#boton {
    text-decoration: none;
    font-family: "pixel";
    max-height: 30px;/*si no se pone height se estira en hover, pero texto no se centra verticalmente*/
    padding: 2px;    /*solucionado texto descentrado con padding y max height*/
    width: 120px;
    background-color: var(--oscuro);
    color: var(--white);
    border: solid 3px var(--gris);
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--white);
    
}

a:visited {
    color: var(--white);

}

/*main*/
main {
    border-radius: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(77, 77, 77);
    padding: 40px;
    overflow: auto;
}

#disclaimer {
    width: 40%;
    margin-top: 10px;
    margin: auto;
    color: var(--white);

}

b {
    font-weight: 800px;
}

section{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
section h3, section h5{
    margin: 5px;
}