
#window-form{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.botones{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

label{
    margin-top: 10px;
}
button{
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
}

thead tr :last-child{
    width: 20px;
}